.content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wrapper {
    margin: 20px; /* Margen para el contenido */
  }
  
  .container {
    padding: 20px; /* Relleno dentro del grid */
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-container {
    margin-right: 20px; /* Margen entre el formulario y la imagen */
  }
  
  .form-item {
    margin-bottom: 15px; /* Margen entre los elementos del formulario */
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contrast-button {
    margin-top: 15px; /* Margen superior del botón */
  }